@font-face {
  font-family: "Zilla Slab Header";
  src: url("../fonts/ZillaSlab-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Zilla Slab Cell";
  src: url("../fonts/ZillaSlab-Light.ttf") format("truetype");
}

#phrase-table {
  max-height: 350px;
  width: 95%;
  margin-left: 2.5%;
}

.tabulator-header {
  font-family: "Zilla Slab Header", sans-serif;
  font-size: 13px;
}

.tabulator-cell {
  font-family: "Zilla Slab Cell", sans-serif;
  font-size: 13px;
}

.btn {
  font-family: "Zilla Slab Cell", sans-serif;
}

/* add phrase button */
.add-row-button {
  width: 95%;
  margin-left: 2.5%;
  margin-top: 10px;

}

.btn-outline-primary {
  color: #8b44db;
  border-color: #8b44db;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #8b44db;
  border-color: #8b44db;
}

.btn-outline-primary:not(:disabled):active {
  border-color: #733ab5;
  color: #fff;
  background-color: #733ab5;
}
